{% extends "PidevSiteBundle:Default:layout.html.twig" %}
{%block content%}
    <h1>Facture</h1>
    <img style="vertical-align:top;" src="{{asset('bundles/PidevSite/img/restaurant.png')}}"/>
    <div style="display:inline-block;">
    <table class="record_properties" style=" display: inline-block; margin-left: 10px; ">
    

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
        </tbody>
    </table>
 <br />
        <ul class="record_actions" style=" width: 140px; display: inline-block;margin-top: 50px; ">
    <li>
        <a href="{{ path('facture') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('facture_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
       </div>
    <div></div>
    <br /><br /><br />
{% endblock %}
