{% extends "PidevSiteBundle:Default:layout.html.twig" %}
{%block content%}
    <h1>Commentaire</h1>

    <img style="vertical-align:top;" src="{{asset('bundles/PidevSite/img/restaurant.png')}}"/>
    <div style="display:inline-block;">
    <table class="record_properties" style=" display: inline-block; margin-left: 10px; ">
        <tbody>
            
            <tr>
                <th>Contenu</th>
                <td>{{ entity.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date }}</td>
            </tr>
            
            
        </tbody>
    </table>

         <ul class="record_actions" style=" width: 140px; display: inline-block;margin-top: 50px; ">
    <li>
        <a href="{{ path('commentaire') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('commentaire_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
            
          </div>
    <div></div>
    <br /><br /><br />
{% endblock %}
