{% extends "PidevSiteBundle:Default:layout.html.twig" %}
{%block content%}
    <h1>Plat</h1>
    <img style="vertical-align:top;" src="{{asset('bundles/PidevSite/img/restaurant.png')}}"/>
    <div style="display:inline-block;">
    <table class="record_properties" style=" display: inline-block; margin-left: 10px; ">
    

    <table class="record_properties">
        <tbody>
            
            
            <tr>
                <th>Nomplat</th>
                <td>{{ entity.nomPlat }}</td>
            </tr>
            <tr>
                <th>Descriptionplat</th>
                <td>{{ entity.descriptionPlat }}</td>
            </tr>
            <tr>
                <th>Prixplat</th>
                <td>{{ entity.prixPlat }}</td>
            </tr>
        </tbody>
    </table>

       <br />
        <ul class="record_actions" style=" width: 140px; display: inline-block;margin-top: 50px; ">
    <li>
        <a href="{{ path('plat') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('plat_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
             </div>
    <div></div>
    <br /><br /><br />
{% endblock %}
